
services:
  web:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./app/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./app/index.html:/var/www/html/index.html
    depends_on:
      api:
          condition: service_started
  api:
    build: ./app
    depends_on:
       db:
          condition: service_healthy
    ports:
      - "5001:5000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=urlshortener
      - DB_USER=${POSTGRES_USER}
      - DB_PASS=${POSTGRES_PASSWORD}
  db:
    image: postgres:14.21-trixie
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=urlshortener
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 5s
volumes:
   postgres_data:
